#header {
  font-family: "Lato";
  font-size: 16px;
  :root {
    // colors
    --top-primary-color: #424551;
    --center-primary-color: #1e212c;
  }

  .btn__homepage {
    padding: 0px 40px;
    min-height: 52px;
    border: 1px solid #ff3f3a;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    font-family: "Lato";
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    color: #fff;
    transition: all 0.12s linear;
    cursor: pointer;
    &:hover {
      background: transparent;
      color: #ff4242;
    }
  }

  // ------------------------------------------------------------------

  .header__container {
    padding: 0px 10px;
    .header__top {
      padding-top: 20px;
      margin-bottom: 128px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .header__top-left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .header__top-left__img {
          cursor: pointer;
          margin-right: 60px;
        }

        .header__top-left__menu {
          .header__left-menu__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .header__menu-list__item {
              &:not(:last-child) {
                margin-right: 40px;
              }
              .header__list-item__link {
                font-family: "Lato";
                font-weight: 500;
                font-size: 1em;
                text-align: center;
                color: var(--top-primary-color);
                cursor: pointer;
                transition: color 0.2s;
                &:hover {
                  color: #ff3f3a;
                }
              }
            }
          }
        }
      }

      .header__top-right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .header__top-right__button {
          margin-right: 36px;
        }

        .header__top-right__login {
          display: flex;
          align-items: center;
          .header__right-login__img {
            margin-right: 8px;
          }
          .header__right-login__text {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1em;
            color: var(--top-primary-color);
            text-align: center;
            .header__login-text__login {
              cursor: pointer;
              margin-right: 4px;
              transition: color 0.2s;
              &:hover {
                color: #ff4242;
              }
            }
            .header__login-text__register {
              margin-left: 4px;
              transition: color 0.2s;
              cursor: pointer;
              &:hover {
                color: #ff4242;
              }
            }
          }
        }
      }
    }

    .header__center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 189px;
      .header__center-left {
        padding: 12px 0px 0px 0px;
        .header__center-left__title {
          margin-bottom: 60px;
          max-width: 496px;
          font-family: "Lato";
          font-weight: 900;
          font-size: 4em;
          line-height: 130%;
          letter-spacing: 1px;
          color: var(--primary-color);
        }
        .header__center-left__buttons {
          .header__button-button__left {
            margin-right: 24px;
          }
          .header__button-right__button {
          }
        }
      }

      .header__center-right {
        .header__center-right__img {
        }
      }
    }

    .header__bottom {
      .header__bottom-statistics {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .header__bottom-statistics__item {
          display: flex;
          align-items: center;
          .header__statistics-item__number {
            font-weight: 900;
            font-size: 48px;
            text-align: center;
            color: var(--primary-color);
            margin-right: 12px;
          }
          .header__statisrics-item__text {
            font-weight: 400;
            font-size: 1em;
            text-align: center;
            color: var(--primary-color);
          }
        }

        .header__bottom-statistics__circle {
          margin: 0px 66px;
          width: 8px;
          height: 8px;
          border: none;
          border-radius: 50%;
          background-color: #ff3f3a;
        }
      }
    }
  }
}
