*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
span {
  margin: 0;
  padding: 0;
  display: block;
}
ul {
  list-style: none;
}

[class*="__container"] {
  padding: 0px 5px;
  max-width: 1240px;
  margin: 0 auto;
}

body {
  .wrapper {
    overflow: hidden;
    height: 100%;

    @import "header.scss";
    @import "main.scss";
    @import "footer.scss";
  }
}
