#header {
  font-family: "Lato";

  .modals {
    .modals__wrapper {
      position: fixed;
      z-index: 1000;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      .modal {
        background-color: #fff;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        display: none;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      .login__modal,
      .register__modal {
        padding: 20px 0px 30px 0px;
        min-width: 486px;
        font-family: "Lato";
        .login__modal-title {
          margin: 0px 0px 26px 0px;
        }
        .login__modal-descr {
          width: 484px;
          margin: 0px 48px 24px;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.7px;
          line-height: 150%;
          text-align: center;
          color: #787a80;
        }
        .login__modal-form {
          margin: 0px 32px;
          .data__info-form__item {
            &:not(:last-child) {
              margin-bottom: 14px;
            }
            .data__form-item__text {
              font-weight: 400;
              font-size: 16px;
              color: #424551;
              margin-bottom: 8px;
            }
            .data__form-item__input {
              padding: 13px 16px;
              min-width: 466px;
              background-color: #fff;
              border: 1px solid #d7dadd;
              border-radius: 4px;
              font-weight: 400;
              font-size: 16px;
              color: #9a9ca5;
              outline: none;
            }
          }

          .login__modal-form__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .subscribe__info-checkbox {
              display: flex;
              align-items: center;
              margin-right: 50px;
              .subscribe__info-checkbox__input {
                appearance: none;
                -webkit-appearance: none;
                position: absolute;
              }
              .subscribe__info-checkbox__label {
                max-width: 287px;
                padding-left: 28px;
                line-height: 160%;
                font-weight: 400;
                font-size: 16px;
                color: #424551;
                cursor: pointer;
                position: relative;
                &::before {
                  content: "";
                  display: block;
                  width: 16px;
                  height: 16px;
                  background-color: transparent;
                  border: 1px solid #ff3f3a;
                  border-radius: 3px;
                  position: absolute;
                  top: 5px;
                  left: 0;
                  z-index: 1;
                  transition: all 0.12s linear;
                }
              }
              .subscribe__info-checkbox__input:checked
                + .subscribe__info-checkbox__label::before {
                background-color: #ff3f3a;
              }
            }
            .login__form-footer__text {
              font-family: "Lato";
              font-weight: 400;
              font-size: 14px;
              letter-spacing: 0.7px;
              line-height: 150%;
              text-align: right;
              color: #424551;
              cursor: pointer;
              transition: 0.2s linear;
              &:hover {
                color: #ff3f3a;
              }
            }
          }

          .modal__button {
            width: 100%;
            padding: 0px 40px;
            min-height: 52px;
            border: 1px solid #ff3f3a;
            border-radius: 4px;
            background-color: transparent;
            font-family: "Lato";
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #ff4242;
            transition: all 0.3s linear;
            cursor: pointer;
            margin-top: 24px;
            &:hover {
              background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
              color: #ffffff;
            }
          }
        }
      }

      .register__modal {
        .subscribe__info-checkbox {
          display: flex;
          align-items: center;
          .subscribe__info-checkbox__input {
            appearance: none;
            -webkit-appearance: none;
            position: absolute;
          }
          .subscribe__info-checkbox__label {
            max-width: 287px;
            padding-left: 28px;
            line-height: 160%;
            font-family: "Lato";
            font-weight: 400;
            font-size: 16px;
            color: #424551;
            cursor: pointer;
            position: relative;
            &::before {
              content: "";
              display: block;
              width: 16px;
              height: 16px;
              background-color: transparent;
              border: 1px solid #ff3f3a;
              border-radius: 3px;
              position: absolute;
              top: 5px;
              left: 0;
              z-index: 1;
              transition: all 0.12s linear;
            }
          }
          .subscribe__info-checkbox__input:checked
            + .subscribe__info-checkbox__label::before {
            background-color: #ff3f3a;
          }
        }
      }
    }
    .modal.modal__open {
      display: flex;
      visibility: visible;
    }
  }
  .modals__wrapper.modals__wrapper-open {
    display: flex;
    visibility: visible;
  }

  :root {
    // colors
    --top-primary-color: #424551;
    --center-primary-color: #1e212c;
  }

  .btn__homepage {
    padding: 0px 40px;
    min-height: 52px;
    border: 1px solid #ff3f3a;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    font-family: "Lato";
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    transition: all 0.12s linear;
    cursor: pointer;
    &:hover {
      background: transparent;
      color: #ff4242;
    }
  }

  .header__mobile {
    position: fixed;
    top: 62px;
    left: -100%;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgb(232 232 232);
    color: #000;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px;
    transition: 0.3s;
    @media (max-width: 375px) {
      top: 40px;
    }
  }
  .header__mobile.open {
    left: 0;
  }

  // -----------------------------

  .header__container {
    padding: 0px 10px;
    .header__top {
      padding-top: 20px;
      margin-bottom: 128px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 375px) {
        flex-wrap: nowrap;
        margin: 0;
      }

      .header__top-left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .header__top-left__img {
          cursor: pointer;
          margin-right: 60px;
        }
        @media (max-width: 375px) {
          .header__top-left__img {
            margin: 0;
          }
        }

        .header__top-left__menu {
          .header__left-menu__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .header__menu-list__item {
              &:not(:last-child) {
                margin-right: 40px;
              }
              .header__list-item__link {
                font-family: "Lato";
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                color: var(--top-primary-color);
                cursor: pointer;
                transition: color 0.2s;
                &:hover {
                  color: #ff3f3a;
                }
              }
            }
          }
        }
      }

      .header__top-right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 375px) {
          display: none;
        }
        .header__top-right__button {
          margin-right: 36px;
        }

        .header__top-right__login {
          display: flex;
          align-items: center;
          .header__right-login__img {
            margin-right: 8px;
          }
          .header__right-login__text {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            color: var(--top-primary-color);
            text-align: center;
            .header__login-text__login {
              cursor: pointer;
              margin-right: 4px;
              transition: color 0.2s;
              &:hover {
                color: #ff4242;
              }
            }
            .header__login-text__register {
              margin-left: 4px;
              transition: color 0.2s;
              cursor: pointer;
              &:hover {
                color: #ff4242;
              }
            }
          }
        }
      }

      .header__hamb {
        display: none;
        visibility: hidden;
        .header__hamb-field {
          display: flex;
          flex-direction: column;
          .header__hamb-field__line {
            display: block;
            width: 40px;
            height: 5px;
            background-color: #ff4242;
            &:not(:last-child) {
              margin-bottom: 6px;
            }
          }
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
      @media (max-width: 1120px) {
        .header__top {
          // margin-bottom: 60px;
        }
        .header__hamb {
          display: block;
          visibility: visible;
          .header__hamb-field {
            position: relative;
          }
        }

        .header__hamb.active .header__hamb-field__line:nth-child(2) {
          opacity: 0;
        }
        .header__hamb.active .header__hamb-field__line:nth-child(1) {
          position: absolute;
          top: 50%;
          transform: rotate(45deg);
        }
        .header__hamb.active .header__hamb-field__line:nth-child(3) {
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
