*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

span {
  margin: 0;
  padding: 0;
  display: block;
}

ul {
  list-style: none;
}

[class*=__container] {
  padding: 0px 5px;
  max-width: 1240px;
  margin: 0 auto;
}

body .wrapper {
  overflow: hidden;
  height: 100%;
}
body .wrapper #header {
  font-family: "Lato";
}
body .wrapper #header .modals .modals__wrapper {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .wrapper #header .modals .modals__wrapper .modal {
  background-color: #fff;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  display: none;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .wrapper #header .modals .modals__wrapper .login__modal,
body .wrapper #header .modals .modals__wrapper .register__modal {
  padding: 20px 0px 30px 0px;
  min-width: 486px;
  font-family: "Lato";
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-title,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-title {
  margin: 0px 0px 26px 0px;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-descr,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-descr {
  width: 484px;
  margin: 0px 48px 24px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 150%;
  text-align: center;
  color: #787a80;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form {
  margin: 0px 32px;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .data__info-form__item:not(:last-child),
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .data__info-form__item:not(:last-child) {
  margin-bottom: 14px;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .data__info-form__item .data__form-item__text,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .data__info-form__item .data__form-item__text {
  font-weight: 400;
  font-size: 16px;
  color: #424551;
  margin-bottom: 8px;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .data__info-form__item .data__form-item__input,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .data__info-form__item .data__form-item__input {
  padding: 13px 16px;
  min-width: 466px;
  background-color: #fff;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
  outline: none;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .login__modal-form__footer,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .login__modal-form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox .subscribe__info-checkbox__input,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox .subscribe__info-checkbox__input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox .subscribe__info-checkbox__label,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox .subscribe__info-checkbox__label {
  max-width: 287px;
  padding-left: 28px;
  line-height: 160%;
  font-weight: 400;
  font-size: 16px;
  color: #424551;
  cursor: pointer;
  position: relative;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox .subscribe__info-checkbox__label::before,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox .subscribe__info-checkbox__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #ff3f3a;
  border-radius: 3px;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox .subscribe__info-checkbox__input:checked + .subscribe__info-checkbox__label::before,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .login__modal-form__footer .subscribe__info-checkbox .subscribe__info-checkbox__input:checked + .subscribe__info-checkbox__label::before {
  background-color: #ff3f3a;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .login__modal-form__footer .login__form-footer__text,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .login__modal-form__footer .login__form-footer__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 150%;
  text-align: right;
  color: #424551;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .login__modal-form__footer .login__form-footer__text:hover,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .login__modal-form__footer .login__form-footer__text:hover {
  color: #ff3f3a;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .modal__button,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .modal__button {
  width: 100%;
  padding: 0px 40px;
  min-height: 52px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ff4242;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-top: 24px;
}
body .wrapper #header .modals .modals__wrapper .login__modal .login__modal-form .modal__button:hover,
body .wrapper #header .modals .modals__wrapper .register__modal .login__modal-form .modal__button:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #ffffff;
}
body .wrapper #header .modals .modals__wrapper .register__modal .subscribe__info-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #header .modals .modals__wrapper .register__modal .subscribe__info-checkbox .subscribe__info-checkbox__input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
}
body .wrapper #header .modals .modals__wrapper .register__modal .subscribe__info-checkbox .subscribe__info-checkbox__label {
  max-width: 287px;
  padding-left: 28px;
  line-height: 160%;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #424551;
  cursor: pointer;
  position: relative;
}
body .wrapper #header .modals .modals__wrapper .register__modal .subscribe__info-checkbox .subscribe__info-checkbox__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #ff3f3a;
  border-radius: 3px;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
body .wrapper #header .modals .modals__wrapper .register__modal .subscribe__info-checkbox .subscribe__info-checkbox__input:checked + .subscribe__info-checkbox__label::before {
  background-color: #ff3f3a;
}
body .wrapper #header .modals .modal.modal__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}
body .wrapper #header .modals__wrapper.modals__wrapper-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}
body .wrapper #header :root {
  --top-primary-color: #424551;
  --center-primary-color: #1e212c;
}
body .wrapper #header .btn__homepage {
  padding: 0px 40px;
  min-height: 52px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
  cursor: pointer;
}
body .wrapper #header .btn__homepage:hover {
  background: transparent;
  color: #ff4242;
}
body .wrapper #header .header__mobile {
  position: fixed;
  top: 62px;
  left: -100%;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgb(232, 232, 232);
  color: #000;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 375px) {
  body .wrapper #header .header__mobile {
    top: 40px;
  }
}
body .wrapper #header .header__mobile.open {
  left: 0;
}
body .wrapper #header .header__container {
  padding: 0px 10px;
}
body .wrapper #header .header__container .header__top {
  padding-top: 20px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 375px) {
  body .wrapper #header .header__container .header__top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}
body .wrapper #header .header__container .header__top .header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__img {
  cursor: pointer;
  margin-right: 60px;
}
@media (max-width: 375px) {
  body .wrapper #header .header__container .header__top .header__top-left .header__top-left__img {
    margin: 0;
  }
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__menu .header__left-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__menu .header__left-menu__list .header__menu-list__item:not(:last-child) {
  margin-right: 40px;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__menu .header__left-menu__list .header__menu-list__item .header__list-item__link {
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--top-primary-color);
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__menu .header__left-menu__list .header__menu-list__item .header__list-item__link:hover {
  color: #ff3f3a;
}
body .wrapper #header .header__container .header__top .header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 375px) {
  body .wrapper #header .header__container .header__top .header__top-right {
    display: none;
  }
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__button {
  margin-right: 36px;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__img {
  margin-right: 8px;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--top-primary-color);
  text-align: center;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__text .header__login-text__login {
  cursor: pointer;
  margin-right: 4px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__text .header__login-text__login:hover {
  color: #ff4242;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__text .header__login-text__register {
  margin-left: 4px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__text .header__login-text__register:hover {
  color: #ff4242;
}
body .wrapper #header .header__container .header__top .header__hamb {
  display: none;
  visibility: hidden;
}
body .wrapper #header .header__container .header__top .header__hamb .header__hamb-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper #header .header__container .header__top .header__hamb .header__hamb-field .header__hamb-field__line {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #ff4242;
}
body .wrapper #header .header__container .header__top .header__hamb .header__hamb-field .header__hamb-field__line:not(:last-child) {
  margin-bottom: 6px;
}
body .wrapper #header .header__container .header__top .header__hamb .header__hamb-field:not(:last-child) {
  margin-bottom: 12px;
}
@media (max-width: 1120px) {
  body .wrapper #header .header__container .header__top .header__hamb {
    display: block;
    visibility: visible;
  }
  body .wrapper #header .header__container .header__top .header__hamb .header__hamb-field {
    position: relative;
  }
  body .wrapper #header .header__container .header__top .header__hamb.active .header__hamb-field__line:nth-child(2) {
    opacity: 0;
  }
  body .wrapper #header .header__container .header__top .header__hamb.active .header__hamb-field__line:nth-child(1) {
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  body .wrapper #header .header__container .header__top .header__hamb.active .header__hamb-field__line:nth-child(3) {
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
body .wrapper #main .btn__homepage {
  padding: 0px 40px;
  min-height: 52px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ff4242;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}
body .wrapper #main .btn__homepage:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #ffffff;
}
body .wrapper #main .intro .intro__container {
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .intro .intro__container .intro__info {
  max-width: 600px;
}
body .wrapper #main .intro .intro__container .intro__info .intro__info-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .intro .intro__container .intro__info .intro__info-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
  margin-bottom: 48px;
}
body .wrapper #main .intro .intro__container .intro__info .intro__info-subdescr {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
}
body .wrapper #main .intro .intro__container .intro__info .intro__info-descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 60px;
}
body .wrapper #main .intro .intro__container .intro__info .intro__info-buttons__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .intro .intro__container .intro__info .intro__info-buttons__box .intro__buttons-button__left {
  margin-right: 24px;
}
body .wrapper #main .statistic .statistic__container {
  margin-bottom: 180px;
}
body .wrapper #main .statistic .statistic__container .statistic__header {
  margin-bottom: 32px;
}
body .wrapper #main .statistic .statistic__container .statistic__header .statistic__header-play__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .statistic .statistic__container .statistic__header .statistic__header-play__box .statistic__header-play__circle {
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #ff3f3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 16px;
}
body .wrapper #main .statistic .statistic__container .statistic__header .statistic__header-play__box .statistic__header-play__text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
  color: #1e212c;
}
body .wrapper #main .statistic .statistic__container .statistic__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .statistic .statistic__container .statistic__body .statistic__body-info .statistic__body-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .statistic .statistic__container .statistic__body .statistic__body-info .statistic__body-info__item:not(:last-child) {
  margin-bottom: 20px;
}
body .wrapper #main .statistic .statistic__container .statistic__body .statistic__body-info .statistic__body-info__item .statistic__info-item__number {
  font-family: "Lato";
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 1px;
  color: #ff3f3a;
  margin-right: 16px;
}
body .wrapper #main .statistic .statistic__container .statistic__body .statistic__body-info .statistic__body-info__item .statistic__info-item__name {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  color: #1e212c;
}
body .wrapper #main .values .values__container {
  margin-bottom: 180px;
}
body .wrapper #main .values .values__container .values__header {
  margin-bottom: 60px;
}
body .wrapper #main .values .values__container .values__header .values__header-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .values .values__container .values__header .values__header-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
}
body .wrapper #main .values .values__container .values__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .values .values__container .values__body .values__body-item {
  max-width: 240px;
  max-height: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper #main .values .values__container .values__body .values__body-item .values__item-img__box {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .values .values__container .values__body .values__body-item .values__item-img__title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .values .values__container .values__body .values__body-item .values__item-img__descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #787a80;
}
body .wrapper #main .values .values__container .values__body .values__body-vertical {
  height: 162px;
  width: 1px;
  background-color: #e9e9e9;
}
body .wrapper #main .directions .directions__container {
  margin-bottom: 180px;
}
body .wrapper #main .directions .directions__container .directions__header {
  margin-bottom: 60px;
}
body .wrapper #main .directions .directions__container .directions__header .directions__header-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .directions .directions__container .directions__header .directions__header-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
}
body .wrapper #main .directions .directions__container .directions__body {
  min-height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem {
  height: calc(50% - 50px);
  width: calc(33.3333333333% - 20px);
  margin: 0px 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__item-img__box,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__item-img__box {
  max-width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 4px 4px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__item-img__box .directions__item-img,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__item-img__box .directions__item-img {
  width: 100%;
  height: 100%;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info {
  padding: 24px;
  border: 2px solid #e5e8ed;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info .directions__body-item__text,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info .directions__body-item__text {
  padding: 1px 8px;
  display: inline-block;
  background: #03cea4;
  border: none;
  border-radius: 4px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info .dev,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info .dev {
  background-color: #7772f1;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info .hr,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info .hr {
  background-color: #f89828;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info .design,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info .design {
  background-color: #f52f6e;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info .managment,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info .managment {
  background-color: #5a87fc;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info .directions__body-item__descr,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info .directions__body-item__descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
  margin-bottom: 20px;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info .directions__body-item__check,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info .directions__body-item__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-item .directions__body-item__info .directions__body-item__check .directions__item-text,
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-item__info .directions__body-item__check .directions__item-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  color: #1e212c;
  margin-right: 8px;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem {
  min-height: 487px;
  background-color: #f4f5f7;
  border: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .directions .directions__container .directions__body .directions__body-newItem .directions__body-newItem__text {
  max-width: 242px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
}
body .wrapper #main .stuprocess .stuprocess__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 180px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left {
  max-width: 495px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-header {
  margin-bottom: 60px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-header .stuprocess__left-header__text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-header .stuprocess__left-header__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step .stuprocess__body-step__left {
  margin-right: 40px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step .stuprocess__body-step__left .stuprocess__step-left__circle {
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background-color: #ff3f3a;
  margin-bottom: 5px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step .stuprocess__body-step__left .stuprocess__step-left__line {
  position: relative;
  left: 3.5px;
  height: 125px;
  width: 1px;
  background-color: #9a9ca5;
  margin-bottom: 5px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step .stuprocess__body-step__left .step__line-last {
  height: 118px;
  width: 1px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step .stuprocess__body-step__right {
  position: relative;
  bottom: 3px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step .stuprocess__body-step__right .stuprocess__step-right__text {
  font-family: "Lato";
  font-weight: 900;
  font-size: 12px;
  color: #787a80;
  margin-bottom: 4px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step .stuprocess__body-step__right .stuprocess__step-right__title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
  margin-bottom: 9px;
}
body .wrapper #main .stuprocess .stuprocess__container .stuprocess__left .stuprocess__left-body .stuprocess__left-body__step .stuprocess__body-step__right .stuprocess__step-right__descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}
body .wrapper #main .team .team__container {
  margin-bottom: 120px;
}
body .wrapper #main .team .team__container .team__header {
  margin-bottom: 60px;
}
body .wrapper #main .team .team__container .team__header .team__header-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .team .team__container .team__header .team__header-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
}
body .wrapper #main .team .team__container .team__body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .team .team__container .team__body .team__body-item {
  height: 50%;
  width: calc(25% - 30px);
  margin: 0px 30px 60px 0px;
}
body .wrapper #main .team .team__container .team__body .team__body-item .team__item-img__box {
  max-width: 285px;
  max-height: 340px;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .team .team__container .team__body .team__body-item .team__item-img__box .team__item-img {
  width: 100%;
  height: 100%;
}
body .wrapper #main .team .team__container .team__body .team__body-item .team__item-name {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #424551;
  margin-bottom: 4px;
}
body .wrapper #main .team .team__container .team__body .team__body-item .team__item-position {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787a80;
}
body .wrapper #main .testimonials {
  background: #f4f5f7;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer {
  padding: 80px 5px 180px 5px;
  margin: 0 auto;
  width: 1252px;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__header {
  margin-bottom: 60px;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__header .testimonials__header-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__header .testimonials__header-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-width: 0;
  width: 100%;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .swiper-button-next,
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .swiper-button-prev {
  position: none;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box {
  max-width: 1020px;
  overflow: hidden;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper {
  max-width: 1020px;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper .testimonials__item {
  padding: 64px 105px;
  max-width: 1020px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper .testimonials__item .testimonials__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper .testimonials__item .testimonials__item-left .testimonials__item-img:not(:last-child) {
  margin-right: 8px;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper .testimonials__item .testimonials__item-content .testimonials__item-content__descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 24px;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper .testimonials__item .testimonials__item-content .testimonials__item-content__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper .testimonials__item .testimonials__item-content .testimonials__item-content__personal .testimonials__item-ava {
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  background-color: #787a80;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper .testimonials__item .testimonials__item-content .testimonials__item-content__personal .testimonials__item-info .testimonials__item-info__name {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  color: #1e212c;
  margin-bottom: 4px;
}
body .wrapper #main .testimonials .testimonials__uniqcontainer .testimonials__body .testimonials__box .testimonials__wrapper .testimonials__item .testimonials__item-content .testimonials__item-content__personal .testimonials__item-info .testimonials__item-info__position {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #787a80;
}
body .wrapper #main .blog .blog__container {
  padding: 120px 0px 110px 0px;
}
body .wrapper #main .blog .blog__container .blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}
body .wrapper #main .blog .blog__container .blog__header .blog__header-left .blog__header-left__text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
body .wrapper #main .blog .blog__container .blog__header .blog__header-left .blog__header-left__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
}
body .wrapper #main .blog .blog__container .blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post {
  max-width: 390px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-img__box {
  margin-bottom: 16px;
  position: relative;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-img__box .blog__body-img__descr {
  padding: 2px 8px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  bottom: 88%;
  left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-img__box .blog__body-img__descr .blog__descr-img__box {
  margin-right: 4px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-img__box .blog__body-img__descr .blog__descr-img__name {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #424551;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__course {
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #787a80;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__vertical {
  height: 16px;
  width: 1px;
  background-color: #787a80;
  margin: 0px 12px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__data .blog__data-img {
  margin-right: 8px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__data .blog__data-date {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #787a80;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__time .blog__time-img {
  margin-right: 8px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__time .blog__time-time {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #787a80;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__info .blog__content-info__title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__info .blog__content-info__descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__info .blog__content-info__click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__info .blog__content-info__click .blog__info-click__text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  color: #1e212c;
  margin-right: 8px;
}
body .wrapper #main .subscribe .subscribe__container {
  padding-top: 120px;
  min-height: 564px;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center {
  margin: 0px 0px 180px 0px;
  min-width: 810px;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-title {
  margin: 0 auto;
  max-width: 810px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
  margin-bottom: 60px;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-form {
  max-width: 606px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-form .subscribe__center-form__input {
  min-width: 100%;
  min-height: 52px;
  padding: 13px 16px;
  margin-right: 24px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
  border: 1px solid #9a9ca5;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  margin-bottom: 16px;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-form .subscribe__center-form__input::-webkit-input-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-form .subscribe__center-form__input::-moz-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-form .subscribe__center-form__input:-ms-input-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-form .subscribe__center-form__input::-ms-input-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #main .subscribe .subscribe__container .subscribe__center .subscribe__center-form .subscribe__center-form__input::placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #footer {
  font-family: "Lato";
}
body .wrapper #footer .footer__body {
  padding: 80px 0px 60px 0px;
  background-color: #1e212c;
}
body .wrapper #footer .footer__body .footer__container {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left {
  max-width: 279px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-img__box {
  margin-bottom: 24px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 38px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-socials .footer__socials-img__box:not(:last-child) {
  margin-right: 20px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-socials .footer__socials-img__box .footer__socials-img {
  cursor: pointer;
}
body .wrapper #footer .footer__body .footer__container .footer__body-list .footer__body-list__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-list .footer__body-list__item {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
  cursor: pointer;
}
body .wrapper #footer .footer__body .footer__container .footer__body-list .footer__body-list__item:not(:last-child) {
  margin-bottom: 8px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__item:not(:last-child) {
  margin-bottom: 8px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__item .footer__contact-img {
  margin-right: 8px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__item .footer-contact__text {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}
body .wrapper #footer .footer__body .footer__container .footer__body-newsletter {
  max-width: 286px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-newsletter .footer__body-newsletter__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-newsletter .footer__body-newsletter__input {
  padding: 9px 12px;
  min-width: 100%;
  min-height: 36px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  outline: none;
  margin-bottom: 12px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-newsletter .footer__body-newsletter__warning {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
}
body .wrapper #footer .footer__footer {
  padding: 20px 0px;
  background-color: #292c37;
}
body .wrapper #footer .footer__footer .footer__container {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #footer .footer__footer .footer__container .footer__footer-left {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #footer .footer__footer .footer__container .footer__footer-left .footer__footer-left__img {
  margin: 0px 4px;
}
body .wrapper #footer .footer__footer .footer__container .footer__footer-right {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
  cursor: pointer;
}